table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-family: Yu Gothic UI;
  font-size: 18px;
  margin: 30px 50px 0px 50px;
  width: 1800px;
}

th {
  background-color: black;
  color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f5f3f3;
}

td button {
  font-family: Yu Gothic UI;
  font-size: 20px;
}

.dashboard-title {
  font-family: Yu Gothic UI;
  font-size: 70px;
  margin: 50px;
}

h3 {
  margin: 0px 50px;
  font-family: Yu Gothic UI;
  font-size: 25px;
}

.input-label {
  font-size: 30px;
  font-family: Yu Gothic UI;
}

.button {
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid gray;
  color: black;
  padding: 3px 10px;
}

input {
  height: 28px;
  width: 300px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  color: black;
}

form {
  padding: 0px 0px 0px 50px;
}
